@import '../../index';

.country-region-filter {
  display: flex;
  gap: $gap-md;
  flex-wrap: wrap;
  justify-content: space-between;

  &-container {
    display: flex;
    flex-direction: column;
    gap: $gap;
  }

  &__title {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
}
